.idea/
.venv/
FirstDjangoProject/__pycache__/__init__.cpython-39.pyc
FirstDjangoProject/__pycache__/settings.cpython-39.pyc
FirstDjangoProject/__pycache__/urls.cpython-39.pyc
FirstDjangoProject/__pycache__/wsgi.cpython-39.pyc
Home/__pycache__/__init__.cpython-39.pyc
Home/__pycache__/admin.cpython-39.pyc
Home/__pycache__/middleware.cpython-39.pyc
Home/__pycache__/models.cpython-39.pyc
Home/__pycache__/urls.cpython-39.pyc
Home/__pycache__/views.cpython-39.pyc
Home/migrations/0001_initial.py
Home/migrations/0002_clientmetadata.py
Home/migrations/0003_postrequestmetadata.py
Home/migrations/0004_resumeviewmetadata.py
Home/migrations/__pycache__/0001_initial.cpython-39.pyc
Home/migrations/__pycache__/0002_clientmetadata.cpython-39.pyc
Home/migrations/__pycache__/0003_postrequestmetadata.cpython-39.pyc
Home/migrations/__pycache__/0004_resumeviewmetadata.cpython-39.pyc
Home/migrations/__pycache__/__init__.cpython-39.pyc
